@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: hsl(180, 96%, 33%);
  border-radius: 10px;
}
